<!DOCTYPE html>
<html lang="en">
<head>
  <title>Exercise Tracker | freeCodeCamp</title>
  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <form method="POST">
    <h2>Create User</h2>
    <input id="uname" type="text" name="username" placeholder="username" />
    <input id="pw" type="text" name="password" placeholder="password" />
    <input type="submit" value="Create Account" />
  </form>
  <button id="toggleButton">Sign in</button>
  <script>
    const h2 = document.querySelector("h2");
    const form = document.querySelector("form");
    const submitButton = form.querySelector("input[type='submit']");
    const toggleButton = document.getElementById("toggleButton");
    let isLogin = false;

    toggleButton.addEventListener('click', () => {
      isLogin = !isLogin;

      if (isLogin) {
        h2.textContent = 'Login';
        form.action = '/api/users/login';
        submitButton.value = 'Login';
        toggleButton.textContent = 'Sign up';
      } else {
        h2.textContent = 'Create User';
        form.action = '/api/users';
        submitButton.value = 'Create Account';
        toggleButton.textContent = 'Sign in';
      }
    });
  </script>
</body>
</html>