<!DOCTYPE html>
<html lang="en">
<head>
  <title>Exercise Tracker | freeCodeCamp</title>
  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <form>
    <h2>Create User</h2>
    <input id="uname" type="text" name="username" placeholder="username" />
    <input id="pw" type="text" name="password" placeholder="password" />
    <input type="submit" value="Create Account" />
  </form>
  <button id="toggleButton">Sign in</button>
  <script src="/js/manageTokens.js" type="module"></script>
  <script src="/js/users-service.js" type="module"></script>
</body>
</html>